<ChaluSquirrels>
    <header
        bigImage="/Images/Header.BigImage.jpg"
        bigImageCenterKeywords="Clean,Slick,Pixel Perfect"
        bigImageCenterDescription="lldy is a great one-page theme, perfect for developers and designers but also for someone who just wants a new website for his business. Try it now!">
          <bigImageCenterButtons>
            <add id="btnLearn" text="Learn More" link="#"/>
            <add id="btnDownload" text="Download" link="#"/>      
          </bigImageCenterButtons>
    </header>
  
  
  
    <menus>
      <add id="about" name="About">
        <description value="It is an amazng one-page theme with great features that offers an incredible experience. It is easy to install, make changes, adapt for your business. A modern design with clean lines and styling for a wide variety of content, exactly how a business design should be. You can add as many images as you want to the main header area and turn them into slider."/>
      </add>

      <add id="portfolio" name="Portfolio" portfolioId="port_folio">
        <description value="Porforlio here"/>
      </add>

      <add id="testimonials" name="Testimonials">
        <description value="testimonials here "/>
      </add>

      <add id="services" name="Services">
        <description value="Services here "/>
      </add>

      <add id="our_team" name="Our Team" portfolioId="port_folio2">
        <description value="Our Team here "/>
      </add>

      <add id="contact_us" name="Contact Us" >
        <description value="Contact Us here "/>
      </add>      
    </menus>

  <portfolios>    
      <portfolio id="port_folio">
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>
      </portfolio>
    
      <portfolio id="port_folio2">
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <!--<add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>-->
    </portfolio>
  
  </portfolios>
  
</ChaluSquirrels>