<ChaluSquirrels>
  <header
      bigImage="/Images/Header.BigImage.jpg"
      bigImageCenterKeywords="Clean,Slick,Pixel Perfect"
      bigImageCenterDescription="lldy is a great one-page theme, perfect for developers and designers but also for someone who just wants a new website for his business. Try it now!">
        <bigImageCenterButtons>
          <add id="btnLearn" text="Learn More" link="#"/>
          <add id="btnDownload" text="Download" link="#"/>      
        </bigImageCenterButtons>
  </header>
  
  
  <menus>
    <add id="about" name="About">
      <description value="The heart is not easily changed, but the head is persuaded- frozen.
                   &lt;br /&gt;&lt;br /&gt;
                   CHAALU SQUIRRELS IS AN ENTHUSIASTIC TEAM, PARTNERING TO GIVE YOU THE BEST OF YOUR AIMED PROGRAMMES, ADDING THE VALUE YOU ARE WORTH OF, IN THIS ERA OF DIGITAL MARKETING AND MERCHANDISING. And promises to take you on flight of all ground promotions and performance. A one stop to help you make, build and grow into aim from dream.
                   &lt;br /&gt;&lt;br /&gt;
                   We all have grown up to be independent individuals striving for a better future. While we are trying to be the “sophisticated” individuals people look up to, we terribly miss back our childhood. Anything that connects us to our period of freedom and happiness is loved and grabs the most part of our heart.
                   &lt;br /&gt;&lt;br /&gt;
                   Growing old is mandatory however growing up is optional. Here we are the efficient team of co-workers, who work towards connecting you to your series of cartoon characters. 
                   "/>
    </add>

    <add id="portfolio" name="Portfolio" portfolioId="port_folio">
      <description value="Porforlio here"/>
    </add>

    <add id="testimonials" name="Testimonials">
      <description value="testimonials here "/>
    </add>

    <add id="services" name="Services">
      <description value="Services here "/>
    </add>

    <add id="our_team" name="Our Team" showTeamMembers="true">
      <description value="Meet the people that are going to take your business to the next level."/>
    </add>

    <add id="contact_us" name="Contact Us" showContactDetails="true">
      <description value="" />
    </add>      
  </menus>

  
  <portfolios>    
      <portfolio id="port_folio">
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>
      </portfolio>
    
      <portfolio id="port_folio2">
        <add title="" path="/Images/Portfolio/1.jpg"/>
        <!--<add title="" path="/Images/Portfolio/2.jpg"/>
        <add title="" path="/Images/Portfolio/3.jpg"/>
        <add title="" path="/Images/Portfolio/4.jpg"/>-->
    </portfolio>
  
  </portfolios>


  <contact>
      <address visible="true" 
               heading="Address" 
               lineOne="Flat No. XX, Sec 22"
               lineTwo="Noida, UK"
               lineThree=""/>
  
     <customerSupport visible="true"
                      heading="Customer Support"
                      email="support@ChaluSquirrels.com"
                      phone="+91-9876543210" />
    
    <socialLinks>
        <add visible="true" title="CS Facebook" logoName="facebook" link="https://facebook.com/CS" />
        <add visible="true" title="CS Twitter" logoName="twitter" link="https://twitter.com/CS" />
        <add visible="false" title="CS LinkedIn" logoName="linkedin" link="https://linkedin.com/CS" />
        <add visible="false" title="CS Google Plus+" logoName="google-plus" link="https://plus.google.com/CS" />
        <add visible="false" title="CS Pinterest" logoName="pinterest" link="https://in.pinterest.com/CS" />        
    </socialLinks>
  </contact>

  <team>
    <add profilePic="/Images/Team DP/1.jpg" name="Mark Lawrance" designation="Web Designer" oneLine="Creative, detail-oriented, always focused.">
      <socialLinks>
        <add visible="true" title="CS Facebook" logoName="facebook" link="https://facebook.com/CS" />
        <add visible="true" title="CS Twitter" logoName="twitter" link="https://twitter.com/CS" />
        <add visible="false" title="CS LinkedIn" logoName="linkedin" link="https://linkedin.com/CS" />
        <add visible="false" title="CS Google Plus+" logoName="google-plus" link="https://plus.google.com/CS" />
        <add visible="false" title="CS Pinterest" logoName="pinterest" link="https://in.pinterest.com/CS" />        
      </socialLinks>
    </add>
    <add profilePic="/Images/Team DP/2.jpg" name="Jane Stenton" designation="SEO Specialist" oneLine="Curious, tech-geeck and gets serious when it comes to work.">
      <socialLinks>
        <add visible="true" title="2 Facebook" logoName="facebook" link="https://facebook.com/CS" />
        <add visible="true" title="2 Twitter" logoName="twitter" link="https://twitter.com/CS" />
        <add visible="true" title="2 LinkedIn" logoName="linkedin" link="https://linkedin.com/CS" />
        <add visible="false" title="2 Google Plus+" logoName="google-plus" link="https://plus.google.com/CS" />
        <add visible="false" title="2 Pinterest" logoName="pinterest" link="https://in.pinterest.com/CS" />        
      </socialLinks>
    </add>
    <add profilePic="/Images/Team DP/3.jpg" name="John Smith" designation="Developer" oneLine="Enthusiastic, passionate with great sense of humor.">
      <socialLinks>
        <add visible="false" title="3 Facebook" logoName="facebook" link="https://facebook.com/CS" />
        <add visible="true" title="3 Twitter" logoName="twitter" link="https://twitter.com/CS" />
        <add visible="true" title="3 LinkedIn" logoName="linkedin" link="https://linkedin.com/CS" />
        <add visible="false" title="3 Google Plus+" logoName="google-plus" link="https://plus.google.com/CS" />
        <add visible="false" title="3 Pinterest" logoName="pinterest" link="https://in.pinterest.com/CS" />        
      </socialLinks>
    </add>
  <add profilePic="/Images/Team DP/3.jpg" name="John Smith" designation="Developer" oneLine="Enthusiastic, passionate with great sense of humor.">
      <socialLinks>
        <add visible="false" title="3 Facebook" logoName="facebook" link="https://facebook.com/CS" />
        <add visible="true" title="3 Twitter" logoName="twitter" link="https://twitter.com/CS" />
        <add visible="true" title="3 LinkedIn" logoName="linkedin" link="https://linkedin.com/CS" />
        <add visible="false" title="3 Google Plus+" logoName="google-plus" link="https://plus.google.com/CS" />
        <add visible="false" title="3 Pinterest" logoName="pinterest" link="https://in.pinterest.com/CS" />        
      </socialLinks>
    </add>
  </team>

</ChaluSquirrels>