/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

body{
    color:#8c9597;
    background-image:url('/Images/pattern.png')
}

body *{
        font-family: "Poppins", sans-serif;
}

body a{
    transition:all 0.5s;
}

hr{
    border-top: 1px solid #ddd;
}


.section-description {
    line-height: 26px;
    margin-bottom: 60px;
    font-size: 16px;    
    font-family: "Lato";
    font-weight: 400;
}


.navbar-brand
{
    font-family:'Dancing Script', cursive;
    font-size:40px;
    font-weight:bold;
}


.go-to-top{
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;    
    color:#ffde00;    
    font-size:30px;
    display:none;
}


/*#region Header */

.parallax-header {
    background-attachment: fixed;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header-three-options {
    width: 100%;
    padding-top: 240px;
    padding-bottom: 280px;
    text-align: center;
}

    .header .header-three-options h1 {
        margin: 0 0 29px 0;
        line-height: 84px;
        font-weight: 700;
        font-size: 80px;
        color: #fff;
    }

.header .icon-bar {
    background-color: black;
}

.header .navbar-nav > li > a {
    color: white;
    text-align: center;
    font-size: 16px;
}

.header .nav > li > a:hover,
.header .nav > li > a:active,
.header .nav > li > a:focus {
    color: #ffde00;
    background: #555;
}



.header .span-dot {
    color: #ffde00;
}

.header .navbar-brand {
    color: white;
}

.header .section-description {
    color: #fff;    
}

.header .btn {
    border-radius: 2px;
    border: 3px solid white;
    color: white;
}


@media (max-width: 767px){
    .header .navbar-collapse {
        background-color: #333;
    }
}

/*#endregion */


/*#region Body */

.section{

}

.section .section-heading
{
    margin-top: 50px;
    margin-bottom: 50px;
    color:#545454;
    text-align:center;
    font-size: 35px;
    line-height: 38px;
    font-weight: 700;
}


.section .section-description {
    text-align:center;
}


.section-break{    
    border:1px solid #8c9597;
}
/*#endregion */


/*#region Contact Details */


#contact-us .contact-us-box .box-left {
    /* width: auto; */
    margin: 0;
    padding: 0 20px 0 0;
    border-right: 1px solid #e1e1e1;
    display: table-cell;
    font-weight: 400;
    font-size: 16px;
    color: #f1d204;
    font-family: "Lato";
    line-height: 26px;
}

#contact-us .contact-us-box .box-right {
    width: auto;
    margin: 0;
    padding: 0 0 0 20px;
    display: table-cell;
}
#contact-us .contact-us-box
{
    float:left;
}
#contact-us .contact-us-social
{
    float:right;
}

#contact-us #post-query label{
    font-weight:normal;
}

#contact-us .btn-submit{
    background-color:#f1d204;
    width:150px;
    color:white;
    font-weight:bold;
    height:40px;
}

@media only screen and (max-width: 767px)
{
    #contact-us .contact-us-box .box-left {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        border-right: none;
    }

    #contact-us .contact-us-box .box-right {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    #contact-us .contact-us-box, #contact-us .contact-us-social
    {
        float:none;
        margin-top:20px;
    }    
}

/*#endregion */

/*#region Footer */

.footer
{
    display:block;
    height:150px;
    background-color:#545454;
}

/*#endregion */

/*#region Social Logo Spits */

.social-logo {
    background-image: url('/Images/social-logo.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-position-y: -521px;
    height: 45px;
    width: 45px;
    display: inline-block;
    border-radius: 25px;
    margin: 0px -5px;
    

    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    -webkit-transform: scale(.7);
    transform: scale(.7);

}
    .social-logo:hover {
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

.social-logo-facebook{    
    background-position-x:-84px;
}

.social-logo-twitter{
    background-position-x:-157px;
}

.social-logo-linkedin{
    background-position-x:-232px ;
}

.social-logo-google-plus{
    background-position-x:-378px;
}

.social-logo-pinterest{
    background-position-x:-453px;
}
/*#endregion */

/*#region Team Member */
#team .team-member{    
    min-height:200px;
}

#team > :nth-child(2n+1) .person-position{    
    color:rgb(241, 139, 109);
}

#team > :nth-child(2n+0) .person-position {    
    color:rgb(241, 210, 4);
}
#team .team-member .person-image {
    width: 125px;
    margin-right: 25px;
    float: left;
}

#team .team-member .person-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

#team .team-member .person-content
{
    text-align: left;
    width: calc( 100% - 150px );
    float: right;
}

#team .team-member .person-content h4{
    color: #5e5e5e;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

#team .team-member .person-content .person-content-social {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#team .team-member .person-content .person-content-social li {
    margin-left: 10px;
    float: left;
}

/*#endregion */